* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--bg-color);
  }
  body::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 2rem;
    border: 0.3rem solid var(--bg-color);
  }

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 4rem;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.1s * var(--i));
}

.navbar p,
.logo p {
    transition: 0.3s ease;
}

.navbar p:hover,
.logo p:hover,
.active {
    color: var(--main-color);
    transform: scale(1.1);
    text-shadow: 0 0 2rem var(--main-color), 0 0 2.5rem var(--main-color);
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-content {
    max-width: 60rem;
}

.inicio-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.inicio-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}

span {
    color: var(--main-color);
}

.inicio-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.inicio-content .text {
    font-size: 1.6rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.social-media span {
    display: inline-flex;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.1s * var(--i));
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 2rem var(--main-color);
    transform: scale(1.15);
}

.btn-span {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
}

.btn {
    display: inline-block;
    padding: 1.2rem 3.3rem;
    background: transparent;
    border-radius: 4rem;
    border: 0.2rem solid var(--main-color);
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.05);
    box-shadow: 0 0 2rem var(--main-color);
}

.inicio-img img {
    height: 38vw;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.3s, 2.3s;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}

.sobre-img {
    width: 38vw;
    margin-left: -50px;
    animation: floatImage 4s ease-in-out infinite;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.sobre-content h2 {
    text-align: left;
    line-height: 1.2;
}

.sobre-content h3 {
    font-size: 2.6rem;
}

.sobre-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.formacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.formacao h2 {
    margin-bottom: 3rem;
}

.formacao .formacao-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.formacao-row .formacao-column {
    flex: 1 1 40rem;
}

.formacao-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.formacao-column .formacao-box {
    border-left: 0.2rem solid var(--main-color);
}

.formacao-box .formacao-content {
    position: relative;
    padding-left: 2rem;
}

.formacao-box .formacao-content::before {
    content: '';
    position: absolute;
    top: 1.8rem;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
}

.formacao-content .content {
    position: relative;
    padding: 1.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.formacao-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s ease;
}

.formacao-content .content:hover:before {
    width: 100%;
}

.formacao-content .content .year {
    font-size: 1.7rem;
    color: var(--main-color);
    padding-bottom: 0.5rem;
}

.formacao-content .content .year i {
    padding-right: 0.5rem;
}

.formacao-content .content h3 {
    font-size: 1.9rem;
}

.formacao-content .content p {
    font-size: 1.6rem;
    padding-top: 0.5rem;
}

.portfolio {
    background-color: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}




/* keyframes */

@keyframes slideRight {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}